/*
	@package sunsettheme
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #656565;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$orange : #ff9d1d;
$orange-hover : #F56B08;

// Media Queries

$xs: 767px;