#wpcontent { font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif; font-weight: 300; }
h1, h2, h3, h4, h5, .form-table th, .form-wrap label { font-weight: 500; }

.sunset-general-form,
.sunset-sidebar-preview { display: inline-blog; float: left; }

.sunset-sidebar-preview { width: 280px; background-color: #1F1F1F; padding: 20px; text-align: center; margin-right: 20px; }
.sunset-sidebar { display: block; text-align: center; }